/* * {
	font-family: sans-serif;
} */

.card-img-top {
	height: 200px;
	object-fit: cover;
}

.smaller-image {
	width: 50%;
	height: auto;
}

/* Logo styling */
.navbar-logo {
	max-width: 30px;
	/* Adjust the size as needed */
	height: auto;
	/* Maintain aspect ratio */
	margin-right: 10px;
	/* Add spacing between logo and text */
}