/* Logo styling */
.navbar-logo {
  max-width: 30px;
  /* Adjust the size as needed */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 10px;
  /* Add spacing between logo and text */
}

.roombg {
  height: 400px;
  background-image: url(Resources/bradcam2.png);
}

.note {
  color: whitesmoke;
  text-align: center;
  font-size: 60px;
  padding-top: 90px;
}

#cursive {
  font-family: Mistral;
  font-size: 40px;
  text-align: center;
  color: skyblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: whitesmoke;
}

.fa-fb {
  color: #3b5998;
}

.fa-tw {
  color: #00acee;
}

.fa-y {
  color: #0e76a8;
}

.fa-ut {
  color: #ff0000;
}

.fa-logo {
  color: tomato;
  height: 100px;
}

.shadow {
  text-shadow: 2px 2px 4px white;
}

.mist {
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
  font-family: Mistral;
  color: teal;
  font-size: 40px;
}

.col1 {
  color: teal;
  font-size: 20px;
}

.col2 {
  font-size: 20px;
  color: sienna;
}

.bg_img1 {
  background-image: url(Resources/footer-bg.jpg);
  color: grey;
  height: 350px;
  padding-top: 50px;
  border-radius: 10px;
  background-size: cover;
}

.ph {
  color: whitesmoke;
  font-size: 20px;
}

.input {
  border-radius: 20px;
  background-color: rgb(73, 66, 66);
  width: 300px;
  border: rgb(65, 62, 62);
}

.names {
  font-family: cursive;
  color: blanchedalmond;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.smaller-image {
  width: 50%;
  height: auto;
}